<div class="row">
  <div class="col-md-4">
      <p class="text-center">Image original</p>
    <div class="thumbnail">
        <img id="myImg" src="static/uploads/{{currentImage}}" style="width:300px;height:300px">
    </div>
  </div>
  <div class="col-md-4">
      <p class="text-center">Image bruitée</p>
    <div class="thumbnail">
          <img id="bruit" style="width:300px;height:300px"/>
    </div>
  </div>
    <div class="col-md-4">
        <p class="text-center">Image filtré</p>
    <div class="thumbnail">
        <img id="filtrer" style="width:300px;height:300px"/>
    </div>
  </div>
</div>