<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5 / jQuery</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="{{ url_for('static', filename='js/jsgaussian.js') }}"></script>
    </head>
    <body>
        {% include "header.html" %}

        <div class="container">

            {% include "block_images.html" %}

            <div class="row">
                <div class="col-md-8">

                    <form id="process-type" action='' method="post">
                        <input id="process-type-btn" type="button" name="gaussian" value="Gaussian">
                    </form>

                    Choisir type de bord:
                    <select id="select2" name="style">
                        <option value="reflect">Reflet</option>
                        <option value="constant">Constant</option>
                        <option value="nearest">Proches</option>
                        <option value="mirror">Miroir</option>
                        <option value="wrap">Enveloppe</option>
                    </select>

                    </br></br>

                    Choisir sigma:
                    <input type="range" id="rangeInput" name="rangeInput" value="1" min="1" max="100" step="1" style="width:300px;">
                    <label id="rangeText">

                </div>

                {% include "block_hist.html" %}
            </div>

        </div>

        {% include "footer.html" %}
    </body>
</html>