<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>HTML5 / jQuery</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <script src="{{ url_for('static', filename='js/jslee.js') }}"></script>
    </head>
    <body>
        {% include "header.html" %}

        <div class="container">

            {% include "block_images.html" %}

            <div class="row">
                <div class="col-md-8">

                    <form id="process-type" action='' method="post">
                        <input id="process-type-btn" type="button" name="lee" value="Lee">
                    </form>

                    Choisir taille matrix:
                    <select id="select" name="size">
                        <option value="3">3x3</option>
                        <option value="5">5x5</option>
                        <option value="9">9x9</option>
                    </select>

                    </br></br>

                    Choisir type de bord:
                    <select id="select2" name="style">
                        <option value="reflect">Reflet</option>
                        <option value="constant">Constant</option>
                        <option value="nearest">Proches</option>
                        <option value="mirror">Miroir</option>
                        <option value="wrap">Enveloppe</option>
                    </select>

                    </br></br>

                    Choisir type de bruit:
                    <select id="select3" name="mode">
                        <option value="gaussian">gaussian</option>
                        <option value="localvar">localvar</option>
                        <option value="poisson">poisson</option>
                        <option value="speckle">speckle</option>
                        <option value="pepper">pepper</option>
                        <option value="salt">salt</option>
                        <option value="s&p">salt&pepper</option>
                    </select>

                    </br></br>

                    Dosage du bruit:
                    <input type="range" id="rangeInput" name="rangeInput" value="0.5" min="0.01" max="1.0" step="0.01" style="width:300px;">
                    <label id="rangeText">

                </div>

                {% include "block_hist.html" %}

            </div>

        </div>

        {% include "footer.html" %}
    </body>
</html>